
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




header {
    background-color: black;
    padding: 8px;
    font-size: larger;
    font-family: sans-serif;
    color: rgb(241, 240, 235);
    text-align: center;
    align-items: flex-end;
    box-sizing: border-box;
    position: relative;
    height: 100px;
   
    
}




h1 {
    max-width: 620px;
    padding: 80px 0 64px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    position: ;
    vertical-align: bottom;
}

.container img {
    height: 85px;
    width: auto;
    margin-right: 5px; 
    display: block;
    position: relative;

}

.buttons button {
    background-color: #2e2e2e;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
    transform: background-color 0.3 ease;
    
    
}

.buttons button:hover {
  background-color: darkgrey;
}

main {
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    color: black;
    padding: 60px;
    display: flex;
    height: 100%;

   
    
}



fieldset{
    display: flex;
    justify-content: space-around;
    background-color: #f5f5f5;
    padding: 80px 0 64px;






}


fieldset .qlq{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family:'sans-serif';
    padding: 80px 0 64px;
    
    
}
a:hover{
    text-decoration: none;
    color: red;
    font-size: 25px;
    
    
    transform: scale(1.1);
}
a:active{
    text-decoration: none;
    color: black;
}
a:visited{
    text-decoration: none;
    color: black;
}
a:link{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


.card {
   display: none; 
   width: 480px;
   height: 50% ;
   overflow: hidden;
   text-align: center;
   padding: auto;
   
  
}


.card.ativo {
    display: block;
    justify-content: center;
    align-items: center;
    
  
}

.card img {
    width:100%;
    height: auto;
   
    
   
}

.card-comprar {
    font-size: 25px;
    padding: auto;
    width: 20%;
}



.footer {
    background-color: black;
    padding: 50px;
    font-family: sans-serif;
    color: aliceblue;
    text-align: center;
    height: 15px;
    align-items: flex-end;
    flex: 1;
    display: grid;

}

.card-signup {
    display: block;
    background-color: #f5f5f5;
    border-radius: 8px;
    font-family: sans-serif;
    font-size: small;
    color: white;
    padding: auto;
    box-sizing: border-box;
    
}

.form-group {
   padding: 200px;
   border-radius: 8px;
   font-size: x-large;
   background-color: black;
   align-items: center;
   line-height: 1.8;
   display: flex;
   flex-direction: column; 
   gap: 10px;
   
}

label {
    font-size: 20px;
    margin-bottom: 3px;
  
    
}

input[type="text"], input[type="email"], input[type="password"], input[type="tel"], textarea {
    width: 700px;
    height: 40px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
   

}
 
.btnform {
    background-color: #2e2e2e ;
    color: white;
    font-family: sans-serif;
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
    width: 100px;
    cursor: pointer;
    

}

.btnform:hover{
    background-color: darkgray;
}