header {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 8px;
    height:100px;
    border-radius: 8px;
    width:100%;
    box-sizing:border-box;

    
}

.container img {
    width:auto;
    height:85px;
    margin-right:5px;
    position:relative;
}

}body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;

}
.image-container {
    width: auto; 
    height: auto; 
    overflow: hidden;


  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    position: absolute;
   
  }

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    vertical-align: bottom;
    background-color: #000;
    
}
.buttons{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: auto;
    margin: auto;
}
div #font{
    color: #000;
    width: 70px;
    height: 70px;

}
.fim{
    background-color: rgb(56, 52, 52);
    height: 75px;
}

.buttons button {
    background-color: rgb(227, 227, 9);
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
    transform: background-color 0.3 ease;
    text-align: center;
    
    
}


.buttons button:hover {
    background-color: darkgrey;
  }

header{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 8px;
    height:100px;
    border-radius: 8px;
    width:100%;
    box-sizing:border-box;

    

}

.container img{
    width:auto;
    height:85px;
    margin-right:5px;
    position:relative;
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    background: #fff;
    font-family:sans-serif;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    
    
}

.card h2 {
    font-size: 20px;
    margin: 10px 0;
}

.card p {
    font-size: 14px;
    color: #555;
}

.card button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card button:hover {
    background-color: #444;
}



