
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }


#cad{
    display: none;
}


header {
    background-color: black;
    padding: 8px;
    font-size: larger;
    font-family: sans-serif;
    color: rgb(241, 240, 235);
    text-align: center;
    align-items: flex-end;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;   
}




h1 {
    max-width: 520px;
    padding: 80px 0 64px;
    
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    vertical-align: bottom;
}

.container img {
    height: 85px;
    width: auto;
    margin-right: 5px; 
    display: block;
    position: relative;

}

.buttons button {
    background-color: #2e2e2e;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
    transform: background-color 0.3 ease;
    
    
}

.buttons button:hover {
  background-color: darkgrey;
}

main {
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    color: black;
    display: flex;
    align-items: center;
  
}


.perfil{
    margin-top: 100px;
    padding-bottom: 70px;
}

#id{
    height: 155px;
    background-color: white;
}
    



fieldset{
    display: flex;
    justify-content: space-around;
    background-color: #f5f5f5; 
    font-size: 25px;
    border: none;
    font-size: 26px;
    font-weight: bolder;
    margin-top: none;
    gap: 30px;
    padding:100px;
}


fieldset .qlq{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family:'sans-serif';
    padding-left: 30px;
    align-items: normal;
    background-color: #f5f5f5;   
}

.qlq img {
   
    width: 100%;
    height: 350px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    

}
a:hover{
    text-decoration: none;
    color: red;
    font-size: 30px;
    
    
    transform: scale(1.1);
}
a:active{
    text-decoration: none;
    color: black;
}
a:visited{
    text-decoration: none;
    color: black;
}
a:link{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


.card {
   display: none; 
   width: 400px;
   height: 200% ;
   overflow: hidden;
   text-align: center;
   padding: auto;
   
   
  
}


.card.ativo {
    display: block;
    justify-content: center;
    align-items: center;
    
  
}

.card img {
    width:100%;
    height: 100%;
    margin-top: 50px;
    max-width: 100%;
    border-radius: 8px;
    object-fit: cover;

   
    
   
}



.card-comprar {
    font-size: 25px;
    padding: 60px;
    width: 25%;

}


.card-signup {
    display: flex;

}
.logomarca{
    background-color: black;
    width: 700px;
    height: 800px;
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    
    
 
    

}

.form-group {
   
  
   font-size: x-large;
   background-color: white;
   align-items: center;
   line-height: 1.8;
   display: flex;
   flex-direction: column; 
   gap: 10px;
   height: 800px;
   justify-content: center;
   border:none;
   

   
  



}

#foot{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
    
}

#cardform h2{
    border: #a39e9e;
    border-radius: 5px;
    
    display: inline-block;
    color: black;

}

label {
    font-size: 20px;
    margin-bottom: 3px;
  
    
}

input[type="text"], input[type="email"], input[type="password"], input[type="tel"], textarea {
    width: 800px;
    height: 40px;
    padding: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
   

}
 
.btnform {
    background-color: #2e2e2e ;
    color: white;
    font-family: sans-serif;
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
    width: 100px;
    cursor: pointer;
    

}

.btnform:hover{
    background-color: darkgray;
}



.sobre ul{
    display: flex;
    flex-direction: column;
    padding-left: 250px;
    padding-right: 250px;
    margin-top: 130px;
    margin-bottom: 130px;
    gap: 30px;
    align-items: center;
    background-color: white;
}

ul .linha{
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    color:#616060;
    list-style-type: none;
    width: 700px;
    
}
.hr-fim{
    width: 700px;
    margin-left: 350px;
    color: #616060;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.inst{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 70px;
}



 


